    <section id="firm-profile">
        <header>
        <h1><%= @firm.name %></h1>
        <div id="firm-site"><a href="<%= @firm.site %>"><%= @firm.site %></a></div>
        <span id="firm-subject"><%= @firm.subject %></span><% if @firm.originated %>, <time id="firm-originated"><%= @firm.originated.year %></time><% end %>
        </header>

        <% if @firm.firm_products.any? %>
        <section id="firm-products">
            <header><h1>В <%= @firm.name %> делают</h1></header>
            <ul>
            <% @firm.firm_products.each do |p| %>
              <li class="firm-product">

                <% if p.site %>
                  <a href="<%= p.site %>"><%= p.name %></a>
                <% else %>
                  <%= p.name %>
                <% end %>

                <sup class="firm_product_rate"><%= p.likes_sum %></sup>

                <% if p.description %>
                  <div class="firm_product_description"><%= p.description %></div>
                <% end %>
              </li>
            <% end %>
            </ul>
        </section>
        <% end %>

        <% if @firm.offices.any? %>
        <section id="firm-offices">
            <header><h1>Офис<%= "ы" if @firm.offices.length > 1 %></h1></header>

            <% @firm.offices.each do |office| %>
            <section class="firm-office">
                <header><h1 class="firm-office-address"><%= office.address %></h1></header>
                <ul>
                    <% office.bonuses.each do |b| %>
                      <li class="firm-office-feature">
                      <% if b.name %><header><%= b.name %></header><% end %>
                      <%= b.description %>
                      </li>
                    <% end %>
                </ul>
            </section>
            <% end %>
          </section>
          <% end %>

        <% if @firm.atmosphere %>
        <section id="firm-atmosphere">
            <header><h1>Атмосфера</h1></header>
            <p><%= @firm.atmosphere %></p>
        </section>
        <% end %>

        <% if @firm.technologies %>
        <section id="firm-technologies">
            <header><h1>Технологии</h1></header>
            <p><%= @firm.technologies %></p>
        </section>
        <% end %>

        <% if @firm.methodologies.any? %>
        <section id="firm-methodologies">
          <header><h1>Методологии</h1></header>
            <% @firm.methodologies.each do |m| %>
              <p>
              <%= "<header>#{m.methodology_base.name}</header>" if m.methodology_base %>
              <%= m.description %>
              </p>
            <% end %>
        </section>
        <% end %>

        <% if @firm.source_connections.any? %>
        <section id="firm-relations">
            <header><h1>Связи</h1></header>
            <ul>
                <% @firm.source_connections.each do |c| %>
                  <li class="firm-relation">
                  <%= c.description %> с <%= link_to c.target.name, :controller => :debug, :action => :view_firm, :id => c.target %>
                  </li>
                <% end %>
            </ul>
        </section>
        <% end %>
    </section>
